.ant-list-item {
    width: 100%;
    margin: 6px -8px !important;
    background-color: rgb(240, 240, 240);
    padding: 4px 8px !important;
    border-radius: 5px;
}

.main-wrapper--package-info {
    margin-top: 50px;
}

.ant-btn.ant-btn-block {
    width: 100% !important;
    margin: 6px -8px !important;
}