.logo {
    width:150px ;
    margin-right: auto;
}

.main-wrapper--header {
    display: flex;
    flex-direction: column;


    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

}

.header {
    display : flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    padding: 10px 20px;
}

.user-icon {
    margin-right: 10px;
}